.ShopsPage--ShopItem {
  display: flex;
  padding: 10px;
  border: 1px solid var(--border-color);
  width: 400px;
  height: 100px;
  background-color: #fff;
}

.ShopsPage--ShopItem:hover {
  cursor: pointer;
}

.ShopsPage--container {
  padding: 100px 140px;
}
/* 
.ShopsPage {
  background-color: var(--background-gray-color);
} */
