.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  background-color: #fff;
  z-index: 1000;
}

.horizontal-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-right: 40px;
  padding-left: 100px;
  flex-grow: 1;
}

.horizontal-list div {
  padding: 0 10px;
  color: #1f2937;
}

.inputtext {
  color: #6b7280;
  font-size: 13px;
}

.navbar span {
  padding: 0 2px;
}

.navbar a {
  padding: 0 20px;
}

.itemlist {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-right: 40px;
  padding-left: 10px;
  flex-grow: 1;
}
.itemlist li {
  padding: 0 15px;
}

.navbar--link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  opacity: 0.9;
}

.navbar--link:hover {
  cursor: pointer;
  color: var(--primary-color);
}
