.ProductCard {
  width: 290px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
}

.ProductCard:hover {
  cursor: pointer;
}
.ProductCard img {
  width: 100%;
  border-radius: 8px;
}

.ProductCard {
  border: 1px solid var(--border-color);
}
.ProductCard--Image {
  position: relative;
}
.ProductCard--Image .ant-tag {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 3px 6px;
  border-radius: 6px;
}

.ProductCard--button {
  width: 100%;
  height: 40px;
  border: 0px;
  padding: 0;
  border-radius: 5px;
  display: flex;
}

.ProductCard--button__add {
  flex: 5;
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-gray-color);
}

.ProductCard--button:hover .ProductCard--button__add {
  background-color: var(--primary-color);
  color: #fff;
}

.ProductCard--button__addIcon {
  flex: 1;
  width: 100%;
  height: 100%;
  font-size: 24px;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-color);
}

.ProductCard--button:hover .ProductCard--button__addIcon {
  background-color: var(--secondary-color);
  color: #fff;
}

.ProductCard--button__icon {
  flex: 1;
  width: 100%;
  height: 100%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.leftIcon {
  color: #fff;
  border-radius: 5px 0 0 5px;
}

.rightIcon {
  color: #fff;
  border-radius: 0 5px 5px 0;
}
.leftIcon:hover {
  background-color: var(--secondary-color);
}
.rightIcon:hover {
  background-color: var(--secondary-color);
}

.ProductCard--button__quantity {
  flex: 4;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}
