.footer {
  background-color: #fff;
  padding: 50px 60px 50px 20px;
  border-top: 1px solid var(--border-color);
  border-bottom: 10px solid var(--primary-color);
}

.footer--link {
  color: #000;
}

.footer--link:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.footer--title {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 10px;
  padding-top: 20px;
}

.footer .ant-btn {
  background-color: var(--primary-color);
  color: #fff;
}
