.Homepage--banner {
  background: url("../../../assets/vegetable.jpg");
  background-size: cover;
  min-height: 100vh;
}

.Homepage--flashcard {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.Homepage--flashcard img {
  width: 23%;
  margin: 25px 0;
}
.Homepage--navbar {
}

.Homepage--banner .ant-input {
  height: 50px;
}
.Homepage--banner .ant-btn {
  height: 50px;
  width: 100px;
  font-size: 20px;
  background-color: var(--primary-color);
}
.Homepage .ProductList {
  padding: 32px;
}
