.AddProductButton {
  background-color: #f3f4f6;
  color: #4b5563;
  border: none;
  padding: 12px 24px;
  border-radius: 4px 0 0 4px;
  font-size: 12px;
  width: 100%;
}

.AddProductButton:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.AddProductButton {
  background-color: #e5e7eb;
  color: #4b5563;
  border: none;
  padding: 12px 24px;
  border-radius: 0 4px 4px 0;
  font-size: 12px;
}

.AddProductButtonIcon:hover {
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
}
