.button {
  background-color: var(--primary-color);
  border-radius: 5px;
  border: 0px;
  width: fit-content;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 8px;
}

.button:hover {
  cursor: pointer;
}
